
#container-modal
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
	background: rgba(0, 0, 0, 0.5);
    
}

#container-modal div
{
	max-width: 450px;
    padding: 10px 10px 15px 10px;
    margin: 0 auto;
    margin-top: 80px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
	animation: show linear 0.3s;
    animation-iteration-count: 1;
}

@keyframes show
{
  0% 
  {
    opacity:0;
    transform: translate(0px,15px);
  }
  
  100% 
    {
    opacity:1;
    transform: translate(0px,0px);
  }
}

#container-modal h2
{
	font-weight: 700;
	font-size: 25px;
	font-family: sans-serif;
	color: #505050;
}

#container-modal p
{
	font-size: 16px;
	font-family: sans-serif;
	color: #555555;		
}

#container-modal button
{
	width: 90px;
    height: 30px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 15px;
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    background-color: #5CB85C;
	border: none;
	outline: 0; 
}

#container-modal button:hover
{
	 background-color: #4CAE4C;
}

#container-modal button:active
{
	 background-color: #5CB85C;
}

#container-modal .hide-alert
{
	animation: hide linear 0.3s;
    animation-iteration-count: 1;
}

@keyframes hide
{
  0% 
  {
	opacity:1;
    transform: translate(0px,15px);  
  }
  
  100% 
    {
    opacity:0;
    transform: translate(0px,10px);
  }
}